[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdparty/NVRHI"]
	path = thirdparty/NVRHI
	url = git@github.com:NVIDIA-RTX/NVRHI.git
[submodule "thirdparty/DirectXShaderCompiler"]
	path = thirdparty/DirectXShaderCompiler
	url = git@github.com:microsoft/DirectXShaderCompiler.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = git@github.com:assimp/assimp.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:nothings/stb.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
